[submodule "STM32-base-STM32Cube"]
	path = STM32-base-STM32Cube
	url = git@github.com:STM32-base/STM32-base-STM32Cube.git
[submodule "STM32-base"]
	path = STM32-base
	url = git@github.com:STM32-base/STM32-base.git
